/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* MY CSS */
:root {
  --primary: hsl(35, 77%, 62%);
  --secondary: hsl(5, 85%, 63%);
  --neutral-100: hsl(36, 100%, 99%);
  --neutral-200: hsl(233, 8%, 79%);
  --neutral-500: hsl(236, 13%, 42%);
  --neutral-800: hsl(240, 100%, 5%);
  --fw-reg: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

.active {
  display: block;
}

.header {
  position: relative;
}

nav {
  position: absolute;
  top: -28px;
  right: -16px;
  padding: 1.75rem 1.25rem 0 1.5rem;
  background-color: var(--neutral-100);
  min-height: 100vh;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 100;
  display: none;
}

.open {
  display: flex;
}

.header__close-button {
  display: flex;
  justify-content: end;
}

.menu__elements {
  display: grid;
  gap: 1.5rem;
}

button,
a {
  all: unset;
  cursor: pointer;
}

ul,
li {
  all: unset;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.wrapper {
  max-width: clamp(21.438rem, 72.019vw + 4.558rem, 69.375rem);
  margin: 1.75rem 0 5.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* HEADER */

.header__logo {
  min-height: 1.75rem;
  max-height: clamp(1.75rem, 1.127vw + 1.486rem, 2.5rem);
}

/* FEATURED ARTICLE */

.section__featured-article--mobile {
  display: grid;
  row-gap: 1.5rem;
}

.featured-article__body {
  display: grid;
  row-gap: 1rem;
}

.featured-article__title {
  font-weight: var(--fw-extrabold);
  font-size: clamp(2.5rem, 1.502vw + 2.148rem, 3.5rem);
  line-height: clamp(2.5rem, 1.502vw + 2.148rem, 3.5rem);
  color: var(--neutral-800);
}

.featured-article__text {
  font-weight: var(--fw-reg);
  font-size: 0.9375rem;
  line-height: 1.625rem;
  color: var(--neutral-500);
}

.featured-article__button {
  max-width: fit-content;
  background-color: var(--secondary);
  padding: 0.75rem 2rem;
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 4.38px;
  color: var(--neutral-100);
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.featured-article__button:hover {
  background-color: var(--neutral-800);
}

/* RECENT ARTICLES */

.section__recent-articles,
.recent-articles,
.recent-article {
  display: grid;
}

.section__recent-articles {
  row-gap: 2.125rem;
  background-color: var(--neutral-800);
  padding: 1.5rem 1.25rem;
}

.recent-articles {
  row-gap: 1.875rem;
}

.recent-article {
  row-gap: 0.5rem;
}

.section__title {
  font-size: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
  line-height: clamp(2rem, 0.751vw + 1.824rem, 2.5rem);
  font-weight: var(--fw-bold);
  color: var(--primary);
}

.recent-article__title {
  color: var(--neutral-100);
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: var(--fw-extrabold);
  transition: background-color 0.3s ease;
}

.recent-article__title:hover {
  color: var(--primary);
}

.recent-article__subtitle {
  color: var(--neutral-200);
  font-weight: var(--fw-reg);
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

hr {
  border-width: 1px;
  border-color: var(--neutral-500);
}

/* OLD ARTICLES */

.old-articles {
  display: grid;
  row-gap: 2rem;
}

.old-article__number {
  color: var(--neutral-200);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 2rem;
}

.old-article__title {
  font-weight: var(--fw-extrabold);
  color: var(--neutral-800);
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5625rem;
  margin-top: 0.75rem;
}

.old-article__subtitle {
  font-weight: var(--fw-reg);
  color: var(--neutral-500);
  font-size: 0.9375rem;
  line-height: 1.625rem;
}

.old-article {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.old-article__img {
  max-width: 6.25rem;
}

.section__featured-article--desktop {
  display: none;
}

@media (min-width: 48rem) {
  .wrapper {
    margin: 5.5625rem 0 8.0625rem 0;
  }

  .section__featured-article--mobile {
    display: none;
  }

  .section__featured-article--desktop {
    display: block;
  }

  /* HEADER */
  nav {
    all: unset;
    display: block;
  }

  .header__menu-button {
    display: none;
  }

  .menu__elements {
    display: flex;
    gap: 2.5rem;
  }

  .menu-element {
    font-weight: var(--fw-reg);
    color: var(--neutral-500);
    font-size: 0.9375rem;
    line-height: 1.625rem;
    transition: color 0.3s ease;
  }

  .menu-element:hover {
    color: var(--secondary);
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 30px;
    grid-template-areas:
      "featured featured recent"
      "featured featured recent"
      "old old old";
  }

  .section__featured-article--desktop {
    grid-area: featured;
    display: grid;
    grid-template-areas: "picture picture" "picture picture" "title body" "title body";
    column-gap: 30px;
  }

  .featured-article__illustration {
    grid-area: picture;
  }

  .featured-article__title {
    grid-area: title;
  }

  .featured-article__body {
    grid-area: body;
  }

  .section__recent-articles {
    grid-area: recent;
  }

  .section__old-articles {
    display: grid;
    grid-area: old;
  }

  .old-articles {
    grid-template-columns: repeat(3, 350px);
    column-gap: 30px;
  }

  .old-article__content {
    max-width: 226px;
  }

  .header__close-button {
    display: none;
  }

  .menu-overlay {
    display: none;
  }
}
